*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #64938e;
    display: flex;
    padding: 0.8rem 5rem ;
    justify-content: space-between;
    font-family: 'inter', sans-serif;
    max-width: 100%;
}
body{
    width: 100%;
}
h1{
    color: white;
}
.iconsh{
    display: flex;
    gap: 2rem;
}
#video{
    top: 0;
    z-index: 1;
    position: sticky;
}
#video video{
    max-width: 1920px;
    width: 100%;
}
#video img{
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    max-width: 35rem;
    width: 50%;
    min-width: 150px;
    z-index: 100;
    position: absolute;
}
main{
    background: url('./assets/backgrounde.png');
    background-size: cover;
    height: 100%;
    position: relative;
    z-index: 101;
}
main .h2 h2{
    text-align: center;
    font-family: 'inter'sans-serif;
    font-size: 55px;
    padding-top: 7rem;
    padding-bottom: 3rem;
}
h2{
    font-weight: 100;
}
.caixa{
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 50px;
    width: 85%;
    display: flex;
}
.caixa img{
    cursor: pointer;
    max-width: 550px;
    width: 330px;
    min-width: 100px;
    height: auto;
}
.zap{
    padding-top: 5rem;
    display: flex;
    justify-content: center;
}


@media (max-width: 768px) {
    header {
        padding: 1rem;
        flex-direction: column; 
        align-items: center;
        gap: 1rem;
    }

    .iconsh {
        gap: 1.5rem;
    }

    #video img {
        width: 75%; 
    }

    main .h2 h2 {
        font-size: 32px; 
        padding-top: 3rem;
        padding-bottom: 1.5rem;
    }

    .caixa {
        width: 95%;
        gap: 20px;
    }

    .caixa img {
        width: 65%; 
        max-width: 100%;
    }

    main {
        height: auto; 
        padding-bottom: 5rem;
    }

    .zap img {
        width: 355px; 
    }
}
@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }
}
